<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.offcn.dao.ModileMapper">
	
	<insert id="addMod" parameterType="Modile" >
		INSERT INTO mobile(mobilenum,mobilearea,mobiletype,areacode,postcode) 
	VALUES('#{mobileNum}','#{mobileArea}','#{mobileType}','#{areaCode}','#{postCode}');		
	</insert>
	<select id="getCou" resultType="int">
		select count(1) from mobile
	</select>
	
	<select id="getResult" parameterType="java.lang.String" resultType="com.offcn.po.Result">
		SELECT mobilearea,mobiletype FROM mobile WHERE mobilenum ='${value}' 
	</select>
	
	

</mapper>


