<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.offcn.dao.MobileMapper">
  <resultMap id="BaseResultMap" type="com.offcn.po.Mobile">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="mobilenum" jdbcType="INTEGER" property="mobilenum" />
    <result column="mobilearea" jdbcType="VARCHAR" property="mobilearea" />
    <result column="mobiletype" jdbcType="VARCHAR" property="mobiletype" />
    <result column="areacode" jdbcType="VARCHAR" property="areacode" />
    <result column="postcode" jdbcType="VARCHAR" property="postcode" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, mobilenum, mobilearea, mobiletype, areacode, postcode
  </sql>
  <select id="selectByExample" parameterType="com.offcn.po.MobileExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from mobile
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mobile
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from mobile
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.offcn.po.MobileExample">
    delete from mobile
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.offcn.po.Mobile">
    insert into mobile (id, mobilenum, mobilearea, 
      mobiletype, areacode, postcode
      )
    values (#{id,jdbcType=INTEGER}, #{mobilenum,jdbcType=INTEGER}, #{mobilearea,jdbcType=VARCHAR}, 
      #{mobiletype,jdbcType=VARCHAR}, #{areacode,jdbcType=VARCHAR}, #{postcode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.offcn.po.Mobile">
    insert into mobile
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="mobilenum != null">
        mobilenum,
      </if>
      <if test="mobilearea != null">
        mobilearea,
      </if>
      <if test="mobiletype != null">
        mobiletype,
      </if>
      <if test="areacode != null">
        areacode,
      </if>
      <if test="postcode != null">
        postcode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="mobilenum != null">
        #{mobilenum,jdbcType=INTEGER},
      </if>
      <if test="mobilearea != null">
        #{mobilearea,jdbcType=VARCHAR},
      </if>
      <if test="mobiletype != null">
        #{mobiletype,jdbcType=VARCHAR},
      </if>
      <if test="areacode != null">
        #{areacode,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null">
        #{postcode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.offcn.po.MobileExample" resultType="java.lang.Long">
    select count(*) from mobile
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update mobile
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.mobilenum != null">
        mobilenum = #{record.mobilenum,jdbcType=INTEGER},
      </if>
      <if test="record.mobilearea != null">
        mobilearea = #{record.mobilearea,jdbcType=VARCHAR},
      </if>
      <if test="record.mobiletype != null">
        mobiletype = #{record.mobiletype,jdbcType=VARCHAR},
      </if>
      <if test="record.areacode != null">
        areacode = #{record.areacode,jdbcType=VARCHAR},
      </if>
      <if test="record.postcode != null">
        postcode = #{record.postcode,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update mobile
    set id = #{record.id,jdbcType=INTEGER},
      mobilenum = #{record.mobilenum,jdbcType=INTEGER},
      mobilearea = #{record.mobilearea,jdbcType=VARCHAR},
      mobiletype = #{record.mobiletype,jdbcType=VARCHAR},
      areacode = #{record.areacode,jdbcType=VARCHAR},
      postcode = #{record.postcode,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.offcn.po.Mobile">
    update mobile
    <set>
      <if test="mobilenum != null">
        mobilenum = #{mobilenum,jdbcType=INTEGER},
      </if>
      <if test="mobilearea != null">
        mobilearea = #{mobilearea,jdbcType=VARCHAR},
      </if>
      <if test="mobiletype != null">
        mobiletype = #{mobiletype,jdbcType=VARCHAR},
      </if>
      <if test="areacode != null">
        areacode = #{areacode,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null">
        postcode = #{postcode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.offcn.po.Mobile">
    update mobile
    set mobilenum = #{mobilenum,jdbcType=INTEGER},
      mobilearea = #{mobilearea,jdbcType=VARCHAR},
      mobiletype = #{mobiletype,jdbcType=VARCHAR},
      areacode = #{areacode,jdbcType=VARCHAR},
      postcode = #{postcode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.offcn.po.Mobile">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="mobilenum" jdbcType="INTEGER" property="mobilenum" />
    <result column="mobilearea" jdbcType="VARCHAR" property="mobilearea" />
    <result column="mobiletype" jdbcType="VARCHAR" property="mobiletype" />
    <result column="areacode" jdbcType="VARCHAR" property="areacode" />
    <result column="postcode" jdbcType="VARCHAR" property="postcode" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, mobilenum, mobilearea, mobiletype, areacode, postcode
  </sql>
  <select id="selectByExample" parameterType="com.offcn.po.MobileExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from mobile
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mobile
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from mobile
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.offcn.po.MobileExample">
    delete from mobile
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.offcn.po.Mobile">
    insert into mobile (id, mobilenum, mobilearea, 
      mobiletype, areacode, postcode
      )
    values (#{id,jdbcType=INTEGER}, #{mobilenum,jdbcType=INTEGER}, #{mobilearea,jdbcType=VARCHAR}, 
      #{mobiletype,jdbcType=VARCHAR}, #{areacode,jdbcType=VARCHAR}, #{postcode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.offcn.po.Mobile">
    insert into mobile
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="mobilenum != null">
        mobilenum,
      </if>
      <if test="mobilearea != null">
        mobilearea,
      </if>
      <if test="mobiletype != null">
        mobiletype,
      </if>
      <if test="areacode != null">
        areacode,
      </if>
      <if test="postcode != null">
        postcode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="mobilenum != null">
        #{mobilenum,jdbcType=INTEGER},
      </if>
      <if test="mobilearea != null">
        #{mobilearea,jdbcType=VARCHAR},
      </if>
      <if test="mobiletype != null">
        #{mobiletype,jdbcType=VARCHAR},
      </if>
      <if test="areacode != null">
        #{areacode,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null">
        #{postcode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.offcn.po.MobileExample" resultType="java.lang.Long">
    select count(*) from mobile
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update mobile
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.mobilenum != null">
        mobilenum = #{record.mobilenum,jdbcType=INTEGER},
      </if>
      <if test="record.mobilearea != null">
        mobilearea = #{record.mobilearea,jdbcType=VARCHAR},
      </if>
      <if test="record.mobiletype != null">
        mobiletype = #{record.mobiletype,jdbcType=VARCHAR},
      </if>
      <if test="record.areacode != null">
        areacode = #{record.areacode,jdbcType=VARCHAR},
      </if>
      <if test="record.postcode != null">
        postcode = #{record.postcode,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update mobile
    set id = #{record.id,jdbcType=INTEGER},
      mobilenum = #{record.mobilenum,jdbcType=INTEGER},
      mobilearea = #{record.mobilearea,jdbcType=VARCHAR},
      mobiletype = #{record.mobiletype,jdbcType=VARCHAR},
      areacode = #{record.areacode,jdbcType=VARCHAR},
      postcode = #{record.postcode,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.offcn.po.Mobile">
    update mobile
    <set>
      <if test="mobilenum != null">
        mobilenum = #{mobilenum,jdbcType=INTEGER},
      </if>
      <if test="mobilearea != null">
        mobilearea = #{mobilearea,jdbcType=VARCHAR},
      </if>
      <if test="mobiletype != null">
        mobiletype = #{mobiletype,jdbcType=VARCHAR},
      </if>
      <if test="areacode != null">
        areacode = #{areacode,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null">
        postcode = #{postcode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.offcn.po.Mobile">
    update mobile
    set mobilenum = #{mobilenum,jdbcType=INTEGER},
      mobilearea = #{mobilearea,jdbcType=VARCHAR},
      mobiletype = #{mobiletype,jdbcType=VARCHAR},
      areacode = #{areacode,jdbcType=VARCHAR},
      postcode = #{postcode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.offcn.pojo.Mobile">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="mobilenum" jdbcType="INTEGER" property="mobilenum" />
    <result column="mobilearea" jdbcType="VARCHAR" property="mobilearea" />
    <result column="mobiletype" jdbcType="VARCHAR" property="mobiletype" />
    <result column="areacode" jdbcType="VARCHAR" property="areacode" />
    <result column="postcode" jdbcType="VARCHAR" property="postcode" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, mobilenum, mobilearea, mobiletype, areacode, postcode
  </sql>
  <select id="selectByExample" parameterType="com.offcn.pojo.MobileExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from mobile
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mobile
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from mobile
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.offcn.pojo.MobileExample">
    delete from mobile
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.offcn.pojo.Mobile">
    insert into mobile (id, mobilenum, mobilearea, 
      mobiletype, areacode, postcode
      )
    values (#{id,jdbcType=INTEGER}, #{mobilenum,jdbcType=INTEGER}, #{mobilearea,jdbcType=VARCHAR}, 
      #{mobiletype,jdbcType=VARCHAR}, #{areacode,jdbcType=VARCHAR}, #{postcode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.offcn.pojo.Mobile">
    insert into mobile
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="mobilenum != null">
        mobilenum,
      </if>
      <if test="mobilearea != null">
        mobilearea,
      </if>
      <if test="mobiletype != null">
        mobiletype,
      </if>
      <if test="areacode != null">
        areacode,
      </if>
      <if test="postcode != null">
        postcode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="mobilenum != null">
        #{mobilenum,jdbcType=INTEGER},
      </if>
      <if test="mobilearea != null">
        #{mobilearea,jdbcType=VARCHAR},
      </if>
      <if test="mobiletype != null">
        #{mobiletype,jdbcType=VARCHAR},
      </if>
      <if test="areacode != null">
        #{areacode,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null">
        #{postcode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.offcn.pojo.MobileExample" resultType="java.lang.Long">
    select count(*) from mobile
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update mobile
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.mobilenum != null">
        mobilenum = #{record.mobilenum,jdbcType=INTEGER},
      </if>
      <if test="record.mobilearea != null">
        mobilearea = #{record.mobilearea,jdbcType=VARCHAR},
      </if>
      <if test="record.mobiletype != null">
        mobiletype = #{record.mobiletype,jdbcType=VARCHAR},
      </if>
      <if test="record.areacode != null">
        areacode = #{record.areacode,jdbcType=VARCHAR},
      </if>
      <if test="record.postcode != null">
        postcode = #{record.postcode,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update mobile
    set id = #{record.id,jdbcType=INTEGER},
      mobilenum = #{record.mobilenum,jdbcType=INTEGER},
      mobilearea = #{record.mobilearea,jdbcType=VARCHAR},
      mobiletype = #{record.mobiletype,jdbcType=VARCHAR},
      areacode = #{record.areacode,jdbcType=VARCHAR},
      postcode = #{record.postcode,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.offcn.pojo.Mobile">
    update mobile
    <set>
      <if test="mobilenum != null">
        mobilenum = #{mobilenum,jdbcType=INTEGER},
      </if>
      <if test="mobilearea != null">
        mobilearea = #{mobilearea,jdbcType=VARCHAR},
      </if>
      <if test="mobiletype != null">
        mobiletype = #{mobiletype,jdbcType=VARCHAR},
      </if>
      <if test="areacode != null">
        areacode = #{areacode,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null">
        postcode = #{postcode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.offcn.pojo.Mobile">
    update mobile
    set mobilenum = #{mobilenum,jdbcType=INTEGER},
      mobilearea = #{mobilearea,jdbcType=VARCHAR},
      mobiletype = #{mobiletype,jdbcType=VARCHAR},
      areacode = #{areacode,jdbcType=VARCHAR},
      postcode = #{postcode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.offcn.pojo.Mobile">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="mobilenum" jdbcType="INTEGER" property="mobilenum" />
    <result column="mobilearea" jdbcType="VARCHAR" property="mobilearea" />
    <result column="mobiletype" jdbcType="VARCHAR" property="mobiletype" />
    <result column="areacode" jdbcType="VARCHAR" property="areacode" />
    <result column="postcode" jdbcType="VARCHAR" property="postcode" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, mobilenum, mobilearea, mobiletype, areacode, postcode
  </sql>
  <select id="selectByExample" parameterType="com.offcn.pojo.MobileExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from mobile
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mobile
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from mobile
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.offcn.pojo.MobileExample">
    delete from mobile
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.offcn.pojo.Mobile">
    insert into mobile (id, mobilenum, mobilearea, 
      mobiletype, areacode, postcode
      )
    values (#{id,jdbcType=INTEGER}, #{mobilenum,jdbcType=INTEGER}, #{mobilearea,jdbcType=VARCHAR}, 
      #{mobiletype,jdbcType=VARCHAR}, #{areacode,jdbcType=VARCHAR}, #{postcode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.offcn.pojo.Mobile">
    insert into mobile
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="mobilenum != null">
        mobilenum,
      </if>
      <if test="mobilearea != null">
        mobilearea,
      </if>
      <if test="mobiletype != null">
        mobiletype,
      </if>
      <if test="areacode != null">
        areacode,
      </if>
      <if test="postcode != null">
        postcode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="mobilenum != null">
        #{mobilenum,jdbcType=INTEGER},
      </if>
      <if test="mobilearea != null">
        #{mobilearea,jdbcType=VARCHAR},
      </if>
      <if test="mobiletype != null">
        #{mobiletype,jdbcType=VARCHAR},
      </if>
      <if test="areacode != null">
        #{areacode,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null">
        #{postcode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.offcn.pojo.MobileExample" resultType="java.lang.Long">
    select count(*) from mobile
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update mobile
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.mobilenum != null">
        mobilenum = #{record.mobilenum,jdbcType=INTEGER},
      </if>
      <if test="record.mobilearea != null">
        mobilearea = #{record.mobilearea,jdbcType=VARCHAR},
      </if>
      <if test="record.mobiletype != null">
        mobiletype = #{record.mobiletype,jdbcType=VARCHAR},
      </if>
      <if test="record.areacode != null">
        areacode = #{record.areacode,jdbcType=VARCHAR},
      </if>
      <if test="record.postcode != null">
        postcode = #{record.postcode,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update mobile
    set id = #{record.id,jdbcType=INTEGER},
      mobilenum = #{record.mobilenum,jdbcType=INTEGER},
      mobilearea = #{record.mobilearea,jdbcType=VARCHAR},
      mobiletype = #{record.mobiletype,jdbcType=VARCHAR},
      areacode = #{record.areacode,jdbcType=VARCHAR},
      postcode = #{record.postcode,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.offcn.pojo.Mobile">
    update mobile
    <set>
      <if test="mobilenum != null">
        mobilenum = #{mobilenum,jdbcType=INTEGER},
      </if>
      <if test="mobilearea != null">
        mobilearea = #{mobilearea,jdbcType=VARCHAR},
      </if>
      <if test="mobiletype != null">
        mobiletype = #{mobiletype,jdbcType=VARCHAR},
      </if>
      <if test="areacode != null">
        areacode = #{areacode,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null">
        postcode = #{postcode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.offcn.pojo.Mobile">
    update mobile
    set mobilenum = #{mobilenum,jdbcType=INTEGER},
      mobilearea = #{mobilearea,jdbcType=VARCHAR},
      mobiletype = #{mobiletype,jdbcType=VARCHAR},
      areacode = #{areacode,jdbcType=VARCHAR},
      postcode = #{postcode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.offcn.pojo.Mobile">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="mobilenum" jdbcType="INTEGER" property="mobilenum" />
    <result column="mobilearea" jdbcType="VARCHAR" property="mobilearea" />
    <result column="mobiletype" jdbcType="VARCHAR" property="mobiletype" />
    <result column="areacode" jdbcType="VARCHAR" property="areacode" />
    <result column="postcode" jdbcType="VARCHAR" property="postcode" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, mobilenum, mobilearea, mobiletype, areacode, postcode
  </sql>
  <select id="selectByExample" parameterType="com.offcn.pojo.MobileExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from mobile
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mobile
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from mobile
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.offcn.pojo.MobileExample">
    delete from mobile
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.offcn.pojo.Mobile">
    insert into mobile (id, mobilenum, mobilearea, 
      mobiletype, areacode, postcode
      )
    values (#{id,jdbcType=INTEGER}, #{mobilenum,jdbcType=INTEGER}, #{mobilearea,jdbcType=VARCHAR}, 
      #{mobiletype,jdbcType=VARCHAR}, #{areacode,jdbcType=VARCHAR}, #{postcode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.offcn.pojo.Mobile">
    insert into mobile
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="mobilenum != null">
        mobilenum,
      </if>
      <if test="mobilearea != null">
        mobilearea,
      </if>
      <if test="mobiletype != null">
        mobiletype,
      </if>
      <if test="areacode != null">
        areacode,
      </if>
      <if test="postcode != null">
        postcode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="mobilenum != null">
        #{mobilenum,jdbcType=INTEGER},
      </if>
      <if test="mobilearea != null">
        #{mobilearea,jdbcType=VARCHAR},
      </if>
      <if test="mobiletype != null">
        #{mobiletype,jdbcType=VARCHAR},
      </if>
      <if test="areacode != null">
        #{areacode,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null">
        #{postcode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.offcn.pojo.MobileExample" resultType="java.lang.Long">
    select count(*) from mobile
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update mobile
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.mobilenum != null">
        mobilenum = #{record.mobilenum,jdbcType=INTEGER},
      </if>
      <if test="record.mobilearea != null">
        mobilearea = #{record.mobilearea,jdbcType=VARCHAR},
      </if>
      <if test="record.mobiletype != null">
        mobiletype = #{record.mobiletype,jdbcType=VARCHAR},
      </if>
      <if test="record.areacode != null">
        areacode = #{record.areacode,jdbcType=VARCHAR},
      </if>
      <if test="record.postcode != null">
        postcode = #{record.postcode,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update mobile
    set id = #{record.id,jdbcType=INTEGER},
      mobilenum = #{record.mobilenum,jdbcType=INTEGER},
      mobilearea = #{record.mobilearea,jdbcType=VARCHAR},
      mobiletype = #{record.mobiletype,jdbcType=VARCHAR},
      areacode = #{record.areacode,jdbcType=VARCHAR},
      postcode = #{record.postcode,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.offcn.pojo.Mobile">
    update mobile
    <set>
      <if test="mobilenum != null">
        mobilenum = #{mobilenum,jdbcType=INTEGER},
      </if>
      <if test="mobilearea != null">
        mobilearea = #{mobilearea,jdbcType=VARCHAR},
      </if>
      <if test="mobiletype != null">
        mobiletype = #{mobiletype,jdbcType=VARCHAR},
      </if>
      <if test="areacode != null">
        areacode = #{areacode,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null">
        postcode = #{postcode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.offcn.pojo.Mobile">
    update mobile
    set mobilenum = #{mobilenum,jdbcType=INTEGER},
      mobilearea = #{mobilearea,jdbcType=VARCHAR},
      mobiletype = #{mobiletype,jdbcType=VARCHAR},
      areacode = #{areacode,jdbcType=VARCHAR},
      postcode = #{postcode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>